.App {
  text-align: center;
}
.navbar{
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-box {
  border: 2px solid #ccc;
  padding: 20px;
  max-width: 415px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-box h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: initial;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}

button {
  background-color: #1160b4;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  width: 570px;
  padding: 2rem;
  background-color: #916060;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
